<body style="background-color: #eee4e1;">
  <app-Header></app-Header>
  <div class="product">
    <div class="containers">
      <h1 class="lg-title">SILVER COLLECTIONS</h1>
      <hr style="width: 50%; border-color:#5a4441; margin-left: 25%;">
      <p class="text">“Jewelry is a very personal thing... it
        should tell a story about the
        person who's
        wearing it.” “Jewelry is like the perfect spice -- it complements what's already there.” “Beauty is who
        you are. Jewelry is simply the icing on the cake.”</p>
      <section class="products" id="products">
        <div class="box-container">
          <div class="box">
            <img src="/assets/Images/silver6.jpg" alt="">
            <h2>Rings</h2>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <a routerLink="/silverring" class="btn">SHOP NOW</a>
          </div>

          <div class="box">
            <img src="/assets/Images/silver2.jpg" alt="">
            <h2>Chains</h2>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <a href="/silverchain" class="btn">SHOP NOW</a>
          </div>

          <div class="box">
            <img src="/assets/Images/silver5.jpg" alt="">
            <h2>Earrings</h2>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <a href="/silverearring" class="btn">SHOP NOW</a>
          </div>

          <div class="box">
            <img src="/assets/Images/images.jfif" alt="">
            <h2>Bracelets</h2>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <a href="/silverbracelet" class="btn">SHOP NOW</a>
          </div>

          <div class="box">
            <img src="/assets/Images/sbangles.jpg" alt="">
            <h2>Bangles</h2>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <a href="/silverbangles" class="btn">SHOP NOW</a>
          </div>
        </div>
      </section>
    </div>
  </div>
  <app-footer></app-footer>
</body>
