<footer>
  <!-- <a class="logo1" style="margin-top: -1%;">Mini</a>
  <p style="margin-left: -5%; margin-top: 4%;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sequi sed repudiandae, at iusto voluptates
    excepturi vero fuga amet accusantium odio, aperiam quos illum aspernatur tempora recusandae odit. Natus, nisi.
  </p> -->


  <div class="footer_info">
    <div class="footer_width about" style="margin-right: 50%;">
      <h2 style="margin-top:1%" >Mini</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis unde neque dicta, quasi odio temporibus incidunt
        explicabo. Sequi sed corporis ratione veniam ea quisquam? Atque ipsam adipisci unde quis obcaecati?
      </p>
      <h6  routerLink="/about" style="font-family: 'Cormorant Unicase', sans-serif; font-size: 15px; cursor: pointer;">To Know More</h6>
      <hr>
      <p class="copyright"> &copy; Copyright All rights reserved.</p>
    </div>
  </div>
  <div class="social-media">
    <h5 style="font-size: 35px; margin-left: 12%;">Follow Us</h5>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-snapchat-ghost"></i></a>
  </div>

  <div class="contact">
    <h1 style="font-size: 35px; font-family: 'Cormorant Unicase', sans-serif; margin-left: 3%; margin-top: 7%;">Contact Us</h1>
    <h3 style="font-family: 'Cormorant Unicase', sans-serif">+91 9566442070</h3>
    <p style="font-family: 'Cormorant Unicase', sans-serif">PL Gopal Street, Ponnammapet, Salem 636001 </p>
  </div>
<!--
  <div>
  <p class="copyright"> &copy; Copyright All rights reserved.</p>
  </div> -->

</footer>
