<footer>
  <a class="logo1" style="margin-top: -1%;">Mini</a>
  <!-- <ul>
    <br>
    <p style="color: #5a4441; font-size: 25px; height: -10vh; font-family: 'Cormorant Unicase', sans-serif;">Follow us on: </p>

  <li>
    <a class="facebook" href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="twitter" href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="instagram" href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="google" href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
  </li>
</ul> -->

  <div class="contact">
      <h3>+919566442070</h3>
      <p>PL Gopal Street, Ponnammapet, Salem 636001 </p>
  </div>
</footer>
