<body style="background-color: #eee4e1;">
  <!-- <app-Header></app-Header> -->
  <button class="go-back-button" routerLink="/admindashboard">Go Back</button>
  <section class="order-confirmation">
    <h1 style="margin-left: 580px;">Order List</h1>
    <div *ngIf="orders.length > 0">
      <table class="order-table">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Image</th>
            <th>Jewel Name</th>
            <th>Jewel Rate (₹)</th>
            <th>Quantity</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">

            <td>{{ order.id }}</td>
            <td><img [src]="order.orderItems[0].image" alt="Product Image" /></td>
            <td>{{ order.orderItems[0].jewelName }}</td>
            <td>₹{{ order.orderItems[0].jewelRate }}</td>
            <td>1</td> <!-- Assuming quantity is always 1 -->
            <td class="order-popup" (click)="showPopup(order)">
              <button class="cancel-order">Show Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="orders.length === 0">
      <div class="no-order-container">
        <img src="/assets/Images/emptycart3.png" alt="No Order Image" class="no-order-image" />
        <h6 class="no-order-message">Looks like you haven't made your order yet..!</h6>
      </div>
    </div>

  </section>

  <div class="popup-container" *ngIf="selectedOrder">
    <div class="popup">
      <h2>Order Details</h2>
      <p>Full Name: {{ selectedOrder.fullName }}</p>
      <p>Email: {{ selectedOrder.email }}</p>
      <p>Address: {{ selectedOrder.address }}</p>
      <p>State: {{ selectedOrder.state }}</p>
      <p>Zip Code: {{ selectedOrder.zipCode }}</p>
      <h2>User Details</h2>
      <p>Email: {{ selectedOrder.userEmail }}</p>
      <button class="close-button" (click)="closePopup()">Close</button>
    </div>
  </div>
</body>
