<body style="background-color: #eee4e1;">
  <app-Header></app-Header>
  <div class="heading">
    <h1>About Us</h1>
    <hr style="width: 50%; border-color:#5a4441; margin-left: 1%;">
    <p>
      Welcome to Mini's Fashion - Your Ultimate Online Jewel Shop! At Mini's Fashion,
      we believe that every piece of jewelry tells a unique story and holds a
      special place in the hearts of our customers. Our passion for exquisite
      craftsmanship and dedication to providing an unparalleled shopping
      experience drive us to curate an exclusive collection of fine jewelry that
      will mesmerize you.
    </p>
    <div class="container">
      <section class="about">
        <div class="about-image">
          <img src="/assets/Images/Parineeta Antique Necklace Set - White Red.jpeg" alt="">
        </div>
        <div class="about-content">
          <h2>Our Journey</h2>
          <hr style="width: 50%; border-color:#5a4441; margin-left: 25%;">
          <p>
            Mini's Fashion was founded in 2022 with a vision to redefine the way people
            shop for jewelry online. With a team of seasoned jewelers and technology
            enthusiasts, we set out on a journey to combine the timeless allure of
            jewelry with the convenience of modern e-commerce. The result was a
            state-of-the-art online jewel shop application, powered by the latest
            technologies, and built on the robust Angular framework.
          </p>
        </div>
      </section>
      <br><br>
      <section class="about1">
        <div class="about-content1">
          <h2 >Our Mission</h2>
          <hr style="width: 50%; border-color:#5a4441; margin-left: 25%;">
          <p>
            To give every customer much more than what he/she asks for in terms of quality, selection, value for money
            and customer service, by understanding local tastes and preferences and innovating constantly to eventually
            provide an unmatched experience in Indian jewellery shopping.
          </p>

          <h2 class="vision">Our Vision</h2>
          <hr style="width: 50%; border-color:#5a4441; margin-left: 25%;">
          <p>
            To become the most trusted and sought-after online jewelry store globally, offering a vast selection of
            exquisitely crafted jewelry pieces that cater to diverse tastes and occasions. We aim to be at the forefront
            of innovation and customer-centricity, continually raising the bar for personalized shopping experiences and
            setting new standards in the jewelry industry.
          </p>
        </div>
        <div class="about-image1">
          <img src="/assets/Images/download (12).jpeg" alt="">
        </div>
      </section>
    </div>

    <div class="wrapper">
      <div class="title">
        <h4>Our Management</h4>
        <hr style="width: 50%; border-color:#5a4441; margin-left: 25%;">
      </div>

      <div class="card_container">
        <div class="card">
          <div class="card1">
            <img src="/assets/Images/arun.jpg" alt="">
          </div>

          <div class="content">
            <div class="contentBx">
              <h3>Arun <br><span>Founder</span></h3>
            </div>
            <!-- <ul class="sci">
              <li style="--i: 1">
                <a href="#"></a>
              </li>
            </ul> -->
          </div>
        </div>

        <div class="card">
          <div class="card1">
            <img src="/assets/Images/pooja (2).jpg" alt="">
          </div>

          <div class="content">
            <div class="contentBx">
              <h3>Pooja <br><span>Co-Founder</span></h3>
            </div>
            <!-- <ul class="sci">
              <li style="--i: 1">
                <a href="#"></a>
              </li>
            </ul> -->
          </div>
        </div>

        <div class="card">
          <div class="card1">
            <img src="/assets/Images/harini.jpg" alt="">
          </div>

          <div class="content">
            <div class="contentBx">
              <h3>Harini <br><span >Director</span></h3>
            </div>
            <!-- <ul class="sci">
              <li style="--i: 1">
                <a href="#"></a>
              </li>
            </ul> -->
          </div>
        </div>

        <!-- <div class="card">
          <div class="card1">
            <img src="/assets/Images/sangeetha.jpg" alt="">
          </div>

          <div class="content">
            <div class="contentBx">
              <h3>Sangeetha <br><span>Head of Marketing</span></h3>
            </div>

          </div>
        </div> -->
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
