<body>

  <!-- header section -->
  <app-Header></app-Header>

  <div class="title">
    <p style="margin-left: 10%;margin-top: 5%;">THE JEWEL GALLERY</p>
    <div class="content">
      <p>Jewellery is not just an accessory, It's a statement piece that reflects your personality and style....!
      </p>
      <button type="submit" class="btn btn-primary"><a routerLink="/register"
          style="background-color:#5a4441; font-size: 25px; color:#eee4e1; border:none; text-decoration: none;">Register
          Now...!</a></button>

      <img src="/assets/Images/e87751166c0193ee29447e667ce19331.jpg">
    </div>
  </div>
  <br><br><br><br>
  <h1 class="title1" id="products">OUR PRODUCTS</h1>
  <hr style="width: 35%; border: 1px solid;  border-color:#5a4441;">
  <div class="wrapper">
    <div class="img1">
      <h3 style="font-family:'Cormorant Unicase', sans-serif; font-size: 25px;">Gold
        Collections</h3><img class="design" src="/assets/Images/6.jpg" width="80%" height="400px" /><br><br>$70000<a
        routerLink="/gold">Get it now</a>
    </div>
    <div class="img2">
      <h3 style="font-family:'Cormorant Unicase', sans-serif; font-size: 25px;">Silver
        Collections</h3>
      <img class="design" src="/assets/Images/img7.jpg" width="90%" height="400px" /><br><br>$80000<a
        routerLink="/silver">Get it now</a>
    </div>
    <div class="img3">
      <h3 style="font-family:'Cormorant Unicase', sans-serif; font-size: 25px;">Diamond
        Collections</h3>
      <img class="design" src="/assets/Images/7.jpg" height="400px" width="90%" /><br><br>$650000<a
        routerLink="/diamond">Get it now</a>
    </div>
  </div>

  <h1 class="t1">OUR SELECTION OF JEWELLERY</h1>
  <hr style="width: 50%; margin-left: 25%; border: 1px solid; border-color:#5a4441;">
  <br><br>
  <div class="selection">
    <div style="background-image:url(/assets/Images/select4.jpg);"></div>
    <div style="background-image: url(/assets/Images/img1.jpg);"></div>
    <div style="background-image: url(/assets/Images/select3.jpg);"></div>
    <div style="background-image: url(/assets/Images/select1.jpg);"></div>
    <div style="background-image: url(/assets/Images/img5.jpg);"></div>
  </div>
  <br><br>

  <h1 class="t1" style="margin-top: 5%;">BEST SELLERS</h1>
  <hr style="width: 35%; margin-left: 32%; border: 1px solid; border-color:#5a4441;">
  <br><br>
  <section class="gallery">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </section>

  <!-- footer section -->
  <app-footer></app-footer>

</body>
