.card {
  margin-top: 300px;
  border: none;
  top: 53%;
  left: 100%;
  position: absolute;
  padding: 40px;
  width: 500px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #5a4441;
}

/* .error {
  border: 1px solid red;
} */

.form-label{
  font-family: Cormorant Unicase, sans-serif;
  font-size: 20px;
}



